.container {
    background-color: rgb(255, 255, 255);
    margin: 15px;
    box-shadow: 8px 8px 10px -12px rgba(136, 136, 148, 1);
  }

.form__container--withButtons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .form__container--withButtons {
        display: flex;
        flex-flow: column wrap;
    }
}

.form__container {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(201, 201, 201);
}

@media (max-width: 767px) {
  .form__container--submit {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
}

.form__container--submit {
  display: flex;
}