html{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(226, 226, 226);
  margin: auto;
  max-width: 1000px;
  font-size: larger;
  word-break: break-word;
}



