.form__button {
    background-color: inherit;
    color: teal;
    border: none;
    transition: 0.5s;
}

.form__button:hover {
    color: rgb(15, 163, 163);
}

.form__button:disabled {
    color: gray;
}

@media (max-width: 767px) {
    .form__button {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .form__buttons {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding-top: 20px;
    }
}